@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* , *::after , *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --white: #fff;
}
html::-webkit-scrollbar {
    width: 10px;
}
html::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 26px;
}
html::-webkit-scrollbar-track {
    background: rgb(2,0,36);
    background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(8,34,64,1) 0%, rgba(52,18,42,1) 100%);
}
body {
    font-family: 'Poppins', sans-serif;
    background-image: url('/assets/img/terminal.jpg');
    background: rgb(2,0,36);
    background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(8,34,64,1) 0%, rgba(52,18,42,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    user-select: none;
}
.player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
}
.dashboard {
    padding: 20px;
    position: fixed;
    top: 0;
    max-width: 480px;
    width: 100%;
    border: 1px solid var(--white);
    background: transparent;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
    border-radius: 26px;
    z-index: 2;

}
header {
    text-align: center;
}
header h4 {
    color: pink;
}
header h2 {
    color: var(--white);
    letter-spacing: 2px;
}
/* CD , Progress and Control */
.cd {
    display: flex;
    justify-content: center;
}
.cd-thumb {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
    /* animation: rotating 10s linear infinite; */

}
.control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
.control button {
    background-color: transparent;
    border: none;
}
.progress {
    width: 70%;
    margin-left: 10px;
    margin-right: 12px;
}
/* Btn */
.btn {
    cursor: pointer;
    color: var(--white);
    font-size: 20px;
}
.btn-toggle {
    height: 50px;
    width: 50px;
    background-color: rgb(150, 23, 65) !important;
    border-radius: 50%;
    display: flex;
    transition: all .2s;
}
.btn-toggle:hover {
    transform: scale(1.1)
}
.btn-toggle i {
    margin: auto;
}
.play-list {
    margin-top: 470px;
}
/* Song */
.song {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
    border: 1px solid var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 26px;
}       
.song:active, .btn:active {
    opacity: .8;
}
.thumb {
    min-height: 60px;
    min-width: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

}
.body {
    color: var(--white);
    margin-right: auto;
}
/*  Option  */
.option {
    color: var(--white);
    font-size: 30px;
    position: relative;
    top: -21px;
    cursor: pointer;
}
.option-menu {
    position: absolute;
    width: 200px;
    height: 50px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
    border: 1px solid red;
    right: 0;
    top: 35px;
    border-radius: 24px;
    display: none;
    backdrop-filter: blur(50px);
    animation: slideDown .2s ease;
    cursor: pointer;
    transform-origin: 90% top;
    transition: .3s;
    will-change: opacity , transform;
}
.option-menu::after {
    background-color: transparent;
    content: "";
    width: 100%;
    height: 12px;
    position: absolute;
    right: 0px;
    top: -10px;;
}
@keyframes slideDown {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.option:hover .option-menu {
    display: block;
}
.option-menu p {
    font-size: 15px;
    text-align: center;
    margin-top: 12px;
}

/* Another Thing */
.playing .btn-toggle .control-play {
    display: none;
}
.playing .btn-toggle .control-pause {
    display: block;
}
.btn-toggle .control-pause {
    display: none;
}

.audio , .screen{
    display: none;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
input[type="range"]::-webkit-slider-runnable-track {
    background: rgb(2,0,36);
    background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(8,34,64,1) 33%, rgba(52,18,42,1) 100%);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.active {
    color: pink;
}
.song.activeSong {
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}

@media only screen and (max-width: 244px) {
    .player {
        display: none;
    }
    .screen {
        display: block;
        color: var(--white);
        padding: 20px;
        text-align: center;
        width: 100%;
        height: 100vh;
    }
}
.progress-all-bar {
    display: flex;
    margin-top: 30px;
    align-items: center;
}
.volume-control {
    display: flex;
}
#volumeProgressBar {
    width: 100%
}
/* BTN */
.btn-volume {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 0 13px;
}
.btn-volume i {
    font-size: 16px;
    color: var(--white);
}

.btn-volume.muted i {
    color: pink; 
}
/* Time */
.time {
    color: var(--white);    
    min-width: 42px;
}
/* Footer */

footer {
    text-align: center;
    color: var(--white);
    height: 100px;
    font-size: 14px;
}
footer a {
    text-decoration: none;
    color: #2c90fc;
}

#preload {
    background: #000 url('./assets/img/preloader.gif') center center no-repeat;
    inset: 0;
    position: fixed;
    z-index: 1000;
    display: block;
}
